#Options -MultiViews
#RewriteEngine On
#ErrorDocument 404 /index.php

Options -MultiViews
RewriteEngine On
ErrorDocument 404 /index.php

# Reescreve a solicitação para index.php e inclui os dados POST
#RewriteRule ^(.*)$ index.php [L,QSA]
