body {
    background-color: #3a3c42;
    font-family: Calibri;
}

h1, p {
    color: #EEE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:not(.selected) a:hover {
    background-color: #555;
}

.selected {
    background-color: crimson;
}

.label {
    color: #DDD;
}

a {
    color: white;
}